{% extends "base.html" %}

{% block content %}
<h1 class="subtitle">
    <b>
    We have a bunch of games, tuned to various levels of difficulty</br>
    Choose your favourite game and start playing !!!
    </b>
</h1> 

<div class="columns is-multiline">
    <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/static/images/bullscows.jpeg" alt="Placeholder image">    
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Bulls And Cows</p>
                <p class="subtitle is-6">The original wordle</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{ url_for('main.bullscows') }}" class="card-footer-item">Start Game</a>
          </footer>
        </div>
    </div>


    <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/static/images/hangman.png" alt="Placeholder image">    
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Hangman</p>
                <p class="subtitle is-6">Guess the word in 6 tries, letter by letter</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{ url_for('main.hangman') }}" class="card-footer-item">Start Game</a>
          </footer>
        </div>
    </div>
    <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/static/images/Picture.jpeg" alt="Placeholder image">    
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Sliding Puzzles</p>
                <p class="subtitle is-6">Arrange the Tiles back in order</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{ url_for('main.slidingpuzzle') }}" class="card-footer-item">Start Game</a>
          </footer>
        </div>
    </div>

    <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/static/images/spacewars.png" alt="Placeholder image">    
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Space Wars</p>
                <p class="subtitle is-6">The classic game from the 90's</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{ url_for('main.spacewars') }}" class="card-footer-item">Start Game</a>
          </footer>
        </div>
    </div>

    <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/static/images/connect4.jpeg" alt="Placeholder image">    
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Connect 4</p>
                <p class="subtitle is-6">Connect your pins before your opponent</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{ url_for('main.connect4') }}" class="card-footer-item">Start Game</a>
          </footer>
        </div>
    </div>

    <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/static/images/Music.jpeg" alt="Placeholder image">    
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Memory Music</p>
                <p class="subtitle is-6">Match the cells giving out the same sound</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{ url_for('main.memorymusic') }}" class="card-footer-item">Start Game</a>
          </footer>
        </div>
    </div>

</div>
{% endblock %}