{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome {{name}}, Here's a look at your high scores
</h1>
    <div class="columns is-multiline">
    {% for category in game_category %}
        <div class="column is-one-quarter">
            {% if max_score == category['high_score'] %}
                <div class="card has-background-warning">
            {% else %}
                <div class="card has-background-grey-lighter">
            {% endif %}
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                            <img src={{category['image_path']}} alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-4">{{category['category']| capitalize}} Smart: {{ category['score']}}</p>
                        <p class="subtitle is-6"> Associated Professions </p>
                        {% for game in category['professions']%}
                            <li>{{game}}</li>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}