.logo {
    align-items: center;
    padding-top: 20px;
}
.car{
    padding: 25px;
    width: 800px;
    height: 500px;
    align-content: center;
}
div.background {
    background: url(./Video/teacher-clipart-13.png);
    width: 800px;
    height: 500px;
}

div.transbox {
    margin-left: 330px;
    margin-right: 75px;
    margin-top: 90px;
}

div.transbox p {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Amatic SC', cursive, bold;
    color: azure;
    font-size: 24px;
}

li {
    font-family: 'Amatic SC', cursive, bold;
    list-style-type: none;
    color: azure;
    padding-left: 100px;
    margin: 0%;
    font-size: 23px;
}